<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projectfinfin.projectfinfin">


    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.projectfinfin.projectfinfin.jsonFeed.SingleItemView"/>
        <activity
            android:name=".RegisterLogin.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewsfeedActivity"
            android:label="@string/title_activity_newsfeed" />
        <activity
            android:name=".RegisterLogin.SignupActivity"
            android:label="@string/title_activity_signup"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".DescriptionActivity"
            android:label="@string/title_activity_description"
            android:parentActivityName=".NewsfeedActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NewsfeedActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".RegisterLogin.LoginEmailActivity"
            android:label="@string/title_activity_login_email"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting" />
        <activity
            android:name=".TypeFoodActivity"
            android:label="@string/title_activity_type_food" />
        <activity
            android:name=".TypeFashionActivity"
            android:label="@string/title_activity_type_fashion" />
        <activity
            android:name=".TypeBeautyActivity"
            android:label="@string/title_activity_type_beauty" />
        <activity
            android:name=".TypeBabyActivity"
            android:label="@string/title_activity_type_baby" />
        <activity
            android:name=".TypeHomeActivity"
            android:label="@string/title_activity_type_home" />
        <activity
            android:name=".TypeMobileActivity"
            android:label="@string/title_activity_type_mobile" />
        <activity
            android:name=".TypeElectronicActivity"
            android:label="@string/title_activity_type_electronic" />
   <activity
        android:name=".zbarscanner.ZBarScannerActivity"
        android:label="@string/title_activity_camera_preview" />

        <activity
        android:name=".GroupActivity"
        android:label="@string/title_activity_group"
        android:parentActivityName=".TypeFoodActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".TypeFoodActivity" />
    </activity>

    </application>

</manifest>
